<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p> {% if report %}
  <p> <strong>Заявка: </strong> {{report}}</p>
  {% else %}
  Пожалуйста введите вашу заявку:
  {% endif%}
  <form method="POST">
    {{ form.hidden_tag()}}
    {{ form.report.label }} {{form.report()}}
    {{form.submit()}}
  </form>
  </p>
</body>
</html>