<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Добро пожаловать на опрос</h1>
    <form method="post">
      {{ form.hidden_tag()}}
      {{ form.name.label }} {{form.name}}
      <br>
      {{form.status}}
      <br>
      {{ form.framework  }}
      <br>
      {{ form.programming_lang.label }} {{ form.programming_lang(class='some css class')}}
      <br>
      Дополнительные пожелания
      {{ form.feedback }}
      <br>
      {{ form.submit()}}

    </form>

</body>
</html>