{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>Welcome</p>
  </div>

  <div class="container">


    {% for news_item in news.items %}

    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('news.news_item', news_item_id=news_item.id) }}">{{ news_item.title }}</a></h2>
        <a href="{{ url_for('users.user_news', username=news_item.author.username) }}">Written By: {{ news_item.author.username }}</a>
        <p>Published on: {{ news_item.date.strftime('%Y-%m-%d') }}</p>
        <p class="card-text">{{ news_item.text[:100] }}...</p>
        <a href="{{ url_for('news.news_item', news_item_id=news_item.id) }}" class="btn btn-primary">Read News</a>
      </div>
    </div>



   {% endfor %}

   <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in news.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if news.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>




{% endblock %}
