{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
      <h1 style="color:red">Custom error page</h1>
    <h1 style="color:tomato">SQL INTEGRITY ERROR</h1>
  </div>
{% endblock %}
