{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>My Template HTML page</h2>
<h3>{{username}}</h3>
<ul>
    <li>{{list_username}}</li>
    <li>{{dict_username.get('username')}}</li>
    <li>Test</li>
</ul>
<ul>
    {% for movie in movies_list %}
    {% if "Hyperion" in movie %}
    <img src="../static/img1.jpg" alt="">
    {% endif %}
    <li>{{movie}}</li>

    {% endfor %}

</ul>
</div>


{% endblock %}

