{% extends 'base.html' %}

{% block content %}

<div class="jumbotrom">
    <form action="{{url_for('thankyou')}}">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>



{% endblock %}