{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
<form action="{{url_for('thankyou')}}">
  <label for="name">Имя</label>
  <input class="form-control" type="text" name="name">
  <label for="lastname">Фамилия</label>
  <input  class="form-control" type="text" name="lastname">
  <button type="sumbit" class="btn  btn-primary">Отправить</button>
</form>



</div>


{% endblock %}