{% extends 'planner/base.html' %}

{% block content %}
    <h1>Weclome</h1>
    <ul>
        {% for m in meetings %}
            <li>
                <a href="{% url 'detail' m.id %}">   {{ m }} </a>

            </li>
        {% endfor %}
    </ul>

{% endblock %}




