{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Хотите добавить ?</h1>
  <p>Заполните форму</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
