{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Хотите удалить?</h1>
  <p>Заполните форму</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.id.label }} {{ form.id() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
