{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Здесь список всех вещей</h1>
  <ul>
    {% for item in items  %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>

</div>
{% endblock %}
