{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Добавить ответственного</h1>
  <p>Заполить форму:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}<br>
      {{ form.item_id.label }} {{ form.item_id() }}<br>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
